/* default styles*/
body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    padding: 20px;
    margin: 10px;
}

.container > h1 {
    color: pink;    
}

.text-color {
    color: blue;
}

/* media query for mid-size */
@media (max-width: 768px) {
    .text-color {
        color: red;
    }

    .container > h1 {
        color: green;    
    }
}

/* media query for small */
@media (max-width: 480px) {
    .text-color {
        color: purple;
    }

    /* Stacks the elements on small screen */
    .container {
        flex-direction: column;
    }
}